html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--primery-background);
    color: var(--color-text);
    margin: 0;
}